<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Settings

          <div class="card-header-actions" style="height: 21px;">

          </div>
        </div>
        <div class="card-body datatable">
          <div class="pad-15">
            <div class="container-fluid">
              <app-form #Form [formData]="FormData"  [type]="''" (onclickEvent)="onclickEventForm($event)"></app-form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





