// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";

ng-http-loader {
    z-index: 9999999999 !important;
}

.brand-minimized .app-header .navbar-brand {
    background-color: #262a2e;
}
.app-header .navbar-brand {
    width: 200px;
    background-color: #262a2e;
}